.flex_container  
  a(href='#', class='noise_btn noise_btn--border')
    strong hover me
  a(href='#', class='noise_btn noise_btn--bg')
    strong hover me
  a(href='#', class='noise_btn noise_btn--bg1')
    strong hover me