html {
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

body {
  background-color:transparent;
}

section.calendar {
  background: rgb(0, 0, 128,0.5);
  font-family: 'Dosis', sans-serif;
  color: #fff;
  width: 290px;
  padding: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  box-shadow: 5px 10px 20px rgba(0,0,0,0.6);
  border-radius: 5px;
}
section.calendar h1 {
  text-align: center;
  color: white;
  margin: 0 0 30px 0;
}
section.calendar form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
section.calendar form label.weekday {
  display: inline-block;
  width: 25px;
  margin: 8px;
  text-align: center;
  color: #ffff;
}
section.calendar form form {
  margin: 0;
  padding: 0;
}
section.calendar form label.day {
  display: inline-block;
  width: 25px;
  margin: 8px;
}
section.calendar form label.day span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: -2px 0 0 -2px;
  border-radius: 50%;
  border: 2px solid #ffff;
  text-align: center;
  transition: all .2s linear;
  cursor: pointer;
}
section.calendar form label.day span:hover {
  border-color: limegreen;
  font-size:20px;
}
section.calendar form label.day em {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border-color: #ffff;
  width: 3px;
  height: 3px;
  background-color: #685e02;
  margin-left: 11px;
  margin-top: 2px;
  opacity: 0;
  transition: all .2s linear;
}
section.calendar form label.day event {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border-color: #ffff;
  width: 3px;
  height: 3px;
  background-color: yellow;
  margin-left: 11px;
  margin-top: 2px;
  opacity: 1	;
  transition: all .2s linear;
}
section.calendar form label.day input[type=text] {
  border: 0;
  opacity: 0;
  position: absolute;
  margin-top: 40px;
  left: -45px;
  width: 380px;
  height: 1px;
  padding: 0;
  outline: none;
  font-size: 16px;
  transition: height .2s linear, opacity .2s linear, color .02s linear;
  color: #fff;
}
section.calendar form label.day input[type=text]:focus {
  opacity: 1;
  height: 35px;
  padding: 10px 40px;
  left: -45px;
  width: 300px;
  color: #ffff;
}
section.calendar form label.day input[type=text]:focus + span {
  color: #fcee6d;
  border-color: #fcee6d;
  background: red;
  color: white;
  font-weight: bold;
  margin-bottom: 65px;
}
section.calendar form label.day input[type=text]:focus ~ em {
  border-radius: 0;
  border: 5px solid transparent;
  background: transparent;
  border-bottom-color: white;
  margin-top: -62px;
  margin-left: 7px;
  width: 0;
  height: 0;
  display: inline-block;
  opacity: 1;
}
section.calendar form label.day input[type=text]:valid ~ em {
  display: inline-block;
  opacity: 1;
}
section.calendar form label.day.invalid {
  opacity: 0;
  width: 25px;
  height: 25px;
}
section.calendar form label.day.invalid span, section.calendar form label.day.invalid input {
  display: none;
}
section.calendar div.clearfix {
  clear: both;
}
section.calendar div.hidden {
  display: none;
}

.appointment {
	background-color:transparent;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
	cursor:pointer;
  transform: rotate(-45deg);
  margin-left:20px;
  -webkit-transform: rotate(-45deg);
}

.left {
	cursor:pointer;
  transform: rotate(135deg);
  margin-right:20px;
  -webkit-transform: rotate(135deg);
}
.left:hover, .right:hover{
	cursor:pointer;
	border: solid yellow;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 3px;
}
   