body {
  height: 100%;
  padding: 0;
  display: block;
  margin: 0;  
  font: 20px Helvetica;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
  font-size:17px;  
}
.noise_btn {
  display: block;
  position: relative;
  width: 282px;
  height: 80px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 0px 20px;
  font-size: 13px;
  color: #fff;
  margin-bottom: 10px;
  opacity: 0;
}
.noise_btn.canvas-ready {
  opacity: 1;
}
.noise_btn--bg {
  color: #202344;
}
.noise_btn strong {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.noise-container {
  display: block;
  position: relative;
}

.noise-canvas {
  position: absolute;
  top: -20px;
  width: calc(10% + 40px);
  height: calc(10% + 40px);
  left: -20px;
  pointer-events: none;
  z-index: 1;
}
