%section.calendar
  %h1 August 2015
  %form{:action => "#"}
    %label.weekday Mo
    %label.weekday Tu
    %label.weekday We
    %label.weekday Th
    %label.weekday Fr
    %label.weekday Sa
    %label.weekday Su
   
    - 36.times do |day|
      %label.day{:data => {:day => day}, :class => ("invalid" unless day > 4)}
        %input.appointment{type: "text", required: "true", :date => {day: (day-4)}, placeholder: "What would you like to do?"}
        %span= day-4
        %em
    %div.clearfix