.contactme{
    text-align: center;
    padding-left: 8mm;
    padding-bottom: 10mm;
    color: rgb(179, 180, 178);
    font-family: inherit;
    font-size: 15px;
}
.socialmedia {
    text-align: center;
}