@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

.mob-menu {
  display: none !important;
}

.main-head{
  margin-top: 30px !important;
  font-family: 'Poppins', sans-serif;
  text-transform: none !important;
  letter-spacing: 0em;
}
.navbar-header{
  position: fixed !important;
}

@media screen and (max-width: 1180px) {

  .main-head{
    font-size: 400% !important;
  }

}

@media screen and (max-width: 740px) {

  .main-head{
    font-size: 250% !important;
  }

}

@media screen and (max-width: 500px) {

  .mob-item{
    display: none !important;
  }

  .mob-menu {
    display: block !important;
  }

  .main-head{
    font-size: x-large !important;
  }

}


@media screen and (max-width: 340px) {

  .main-head{
    font-size: larger !important;
  }

}